@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Regular.eot');
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
    url('fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTNorms-Regular.woff2') format('woff2'),
    url('fonts/TTNorms-Regular.woff') format('woff'),
    url('fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Light.eot');
    src: local('TT Norms Light'), local('TTNorms-Light'),
    url('fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTNorms-Light.woff2') format('woff2'),
    url('fonts/TTNorms-Light.woff') format('woff'),
    url('fonts/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Medium.eot');
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
    url('fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTNorms-Medium.woff2') format('woff2'),
    url('fonts/TTNorms-Medium.woff') format('woff'),
    url('fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-ExtraBold.eot');
    src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
    url('fonts/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTNorms-ExtraBold.woff2') format('woff2'),
    url('fonts/TTNorms-ExtraBold.woff') format('woff'),
    url('fonts/TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Bold.eot');
    src: local('TT Norms Bold'), local('TTNorms-Bold'),
    url('fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTNorms-Bold.woff2') format('woff2'),
    url('fonts/TTNorms-Bold.woff') format('woff'),
    url('fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'TT Norms';
    font-display: swap;
    font-size: 18px;
    max-width: 1920px;
    margin: auto;
}

a {
    color: #000;
    text-decoration: none;
    transition: 400ms;
}

a:hover {
    border-bottom: 1px solid #000000;
    transition: 400ms;
}

header {
    background-color: rgba(188, 102, 160, 0.15);
    background-image: url("../img/header-back.png");
    padding: 0 20px;
}

section {
    padding: 100px 20px;
}


.container {
    width: 100%;
    max-width: 1320px;
    margin: auto;
}


@media (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1140px;
        margin: auto;
    }
}

.tran-button {
    position: relative;
    border: 1px solid #7148CA;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 17px;
    font-size: 0.90em;
    font-weight: bold;
    cursor: pointer;
}

.tran-button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 102%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #7148CA;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.tran-button:hover {
    color: #fff;
}

.tran-button:hover:after {
    height: 105%;
    opacity: 1;
    border-radius: 30px;
}

.button-callback {
    background: #7148ca;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px 30px;
    max-width: 210px;
    transition: 400ms;
    cursor: pointer;
}

.button-callback:hover {
    background: #4b23a2;
    transition: 400ms;
}

.header-content-left-button {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-top-logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
    padding-left: 20px;
}

.header-top-callback {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-top-callback a{
    margin: 0 15px;
    font-size: 1.15em;
    font-weight: bold;
}

a.tran-button {
    font-size: 0.90em;
}

.header-top-menu ul{
    display: flex;
}

.header-top-menu ul li{
    list-style-type: none;
    padding: 0 20px;
    font-size: 1.15em;
    font-weight: 500;
    line-height: 22px;
}

.header-top-menu ul li a {
    border-bottom: 1px solid #000;
}

.header-top-menu ul li a:hover {
    padding-bottom: 3px;
}

.header-top-menu ul li:first-child {
    padding-left: 0;
    padding-right: 20px;
}

.header-top-menu ul li:last-child {
    padding-left: 20px;
    padding-right: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}

.header-content-left {
    width: 50%;
    padding-left: 20px;
}

.header-content-left-title {
    font-size: 3.21em;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0689FF 11%, #AA24AC 66%, #C5436B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.header-content-left-title-little {
    font-size: 2em;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0689FF 11%, #AA24AC 66%, #C5436B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content-left-description {
    font-family: 'Poppins', sans-serif;
    padding: 40px 0;
    font-size: 1.2em;
    font-weight: 300;
    color: #342F55;
}

.callback-input-block form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callback-input-block input {
    padding: 24px 100px;
    margin-bottom: 15px;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    transition: 400ms;
    font-size: 1.2em;
    text-align: center;
}

.callback-input-block input:focus-visible {
    outline: none;
    border: 1px solid #7148ca;
    transition: 400ms;
}

.callback-input-block input::placeholder {
    font-size: 1.2em;
}

.header-content-right {
    width: 50%;
}

/*top slider*/
.top-slider {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.top-slider-item {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: -1.57556px 4.20149px 36.7631px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 400ms ease-in-out 50ms;
}

.top-slider-item img {
    width: 100%;
    border-radius: 15px;
}

.top-slider-item.active {
    opacity: 1;
    transition: opacity 400ms ease-in-out 50ms;
}

.top-slider-item-description {
    padding-top: 15px;
    color: #888888;
    font-size: 1em;
    line-height: 120%;
}

.top-slider-dots {
    width: 350px;
    position: absolute;
    bottom: -85px;
    right: 0;
    text-align: center;
    padding-top: 25px;
}

.dots-arrow-next, .dots-arrow-prev {
    max-width: 35px;
    padding: 7px;
    opacity: 0.5;
    cursor: pointer;
    transition: 400ms;
}

.dots-arrow-next:hover, .dots-arrow-prev:hover {
    opacity: 1;
    transition: 400ms;
}

.dots-arrow-next.notactive, .dots-arrow-prev.notactive {
    opacity: 0;
    cursor: context-menu;
}

/*top slider*/

.section-title {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.85em;
    line-height: 54px;
}

.about-list {
    display: flex;
    justify-content: space-around;
}


.about-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px 0;
}

.about-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 35px 50px;
    margin: 20px;
    border-radius: 30px;
    background: #fff;
    font-size: 1.28em;
    text-align: center;
    box-shadow: 0px 1px 7px 2px #dedbdb;
}

.about-item::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    box-shadow: 0 -240px 70px -120px #0689FF inset,
                0 -300px 70px -120px #AA24AC inset,
                0 -360px 70px -120px #C5436B inset;
    border-radius: 31px;
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms ease-in-out 50ms;
}

.about-item:hover::before {
    opacity: 1;
    transition: opacity 400ms ease-in-out 50ms;
    animation: about-rotate 3s infinite alternate;
}

@keyframes about-rotate {
    50% {
    background: darkviolet;
    box-shadow: 0 -240px 70px -120px #C5436B inset,
                0 -300px 70px -120px #AA24AC inset,
                0 -360px 70px -120px #0689FF inset;
  }
}

.about-icon {
    margin-bottom: 15px;
    font-size: 6em;
    background: linear-gradient(90deg, #0689FF 11%, #AA24AC 66%, #C5436B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.course {
    background: #FBFAFE;
    position: relative;
}

.course:before {
    content: url('../img/perspaleta2_0043.png');
    width: 194px;
    height: 192px;
    position: absolute;
    left: 50px;
    top: -70px;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0;
}

.course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 330px;
    padding: 25px;
    margin: 0 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: -1.57556px 4.20149px 36.7631px rgba(0, 0, 0, 0.15);
}

.course-item-content {
    display: flex;
    flex-direction: column;
}

.course-item-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-item img {
    width: 100%;
    border-radius: 15px;
}

.course-item-description {
    padding: 15px 0;
    font-size: 1.1em;
}

.course-item-price {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 600;
    color: #faa41d;
}

.faq {
    position: relative;
}

.faq:before {
    content: url('../img/ic_chat2.png');
    width: 172px;
    height: 154px;
    position: absolute;
    right: 50px;
    top: 50px;
}

.question {
    display: block;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 10px;
}

.answer {
    display: block;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.answer a {
    color: #7148ca;
}

.callback-block {
    background: rgba(233, 235, 247, 0.5);
    text-align: center;
}

.callback-block img {
    max-width: 340px;
    padding: 25px 0px;
}

.callback-form {
    width: 100%;
}

.callback-description {
    font-size: 1.4em;
}

.callback-form .callback-input-block {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 35px;
}

footer {
    background: #171717;
    color: #FFFFFF;
    padding: 100px 20px;
}

footer a {
    font-size: 1.8em;
    color: #FFFFFF;
}

footer a:hover {
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
}

.footer-contact-title {
    display: block;
    font-size: 2em;
    font-weight: 600;
    padding: 30px 0 15px 0;
}

.footer-contact-left {
    width: 50%;
}

.footer-contact-soc {

}

.footer-contact-soc a {
    border: none;
}

.footer-contact-soc a:hover {
    border: none;
}

.footer-contact-soc img {
    width: 40px;
    padding-right: 10px;
    transition: 400ms;
}

.footer-contact-soc img:hover {
    width: 50px;
    transition: 400ms;
}

.footer-contact-right {
    width: 50%;
}

.footer-contact-right iframe {

}

@media (max-width: 1350px) {
    .header-content-left-title {
        font-size: 2.5em;
    }
}

@media (max-width: 1300px) {
    .course-list {
        justify-content: center;
    }
}

@media (max-width: 1100px) {
    .header-top-callback {
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
    .header-content-left {
        width: 100%;
    }
    .header-content-right {
        display: none;
    }
}

@media (max-width: 1024px) {
    .faq:before {
        top: -36px;
    }
}


@media (max-width: 920px) {
    .header-top-menu {
        display: none;
    }
    .header-top-callback {
        flex-direction: row;
    }
}

@media (max-width: 730px) {
    .footer-contact {
        flex-wrap: wrap;
    }
    .footer-contact-left, .footer-contact-right {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 555px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header-top-callback {
        flex-direction: column;
    }
    .header-content-left-title {
        font-size: 2em;
    }
}

@media (max-width: 430px) {
    .callback-input-block input {
        padding: 20px 50px;
    }
}